USE QuanLyThuVien
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- I. TRIGGERS TRÊN BẢNG CHI TIẾT MƯỢN (ChiTietMuon)
------------------------------------------------------------------------------------------------------------------------------------------------------------------

-- Cập nhật trạng thái Bản sao thành 'DangMuon' sau khi mượn thành công.
CREATE TRIGGER [dbo].[trg_ChiTietMuon_CapNhatTinhTrangBanSao]
ON [dbo].[ChiTietMuon]
AFTER INSERT
AS
BEGIN
    -- Cập nhật trạng thái của các bản sao vừa được thêm vào chi tiết mượn
    UPDATE BanSao
    SET TinhTrang = N'DangMuon'
    WHERE MaBanSao IN (SELECT MaBanSao FROM inserted);
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_CapNhatTinhTrangBanSao]
GO

---

-- Cập nhật trạng thái Phiếu Mượn thành 'DaTra' nếu TẤT CẢ các cuốn sách trong phiếu đã được trả.
CREATE TRIGGER [dbo].[trg_ChiTietMuon_CapNhatTrangThaiPhieuMuon]
ON [dbo].[ChiTietMuon]
AFTER UPDATE
AS
BEGIN
    -- Chỉ chạy khi cột NgayTraThucTe được cập nhật (tức là khi trả sách)
    IF UPDATE(NgayTraThucTe)
    BEGIN
        UPDATE PhieuMuon
        SET TrangThai = N'DaTra'
        WHERE MaPhieuMuon IN (
            SELECT DISTINCT i.MaPhieuMuon
            FROM inserted i
            WHERE i.NgayTraThucTe IS NOT NULL -- 1. Chỉ xem xét các phiếu có sách vừa được trả
        )
        AND NOT EXISTS (
            -- 2. Đảm bảo không còn cuốn sách nào trong phiếu này chưa được trả
            SELECT 1 
            FROM ChiTietMuon ct
            WHERE ct.MaPhieuMuon = PhieuMuon.MaPhieuMuon
            AND ct.NgayTraThucTe IS NULL
        )
        AND TrangThai IN (N'DangMuon', N'QuaHan');
    END;
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_CapNhatTrangThaiPhieuMuon]
GO

---

-- Kiểm tra điều kiện trước khi cho phép thêm Chi Tiết Mượn (INSTEAD OF INSERT).
CREATE TRIGGER [dbo].[trg_ChiTietMuon_KiemTraBanSao]
ON [dbo].[ChiTietMuon]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Kiểm tra Bản sao có tồn tại không
    IF EXISTS (
        SELECT 1 FROM inserted i WHERE NOT EXISTS (SELECT 1 FROM BanSao b WHERE b.MaBanSao = i.MaBanSao)
    )
    BEGIN
        RAISERROR(N'Bản sao không tồn tại trong hệ thống!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 2. KIỂM TRA BẢN SAO CÓ SẴN KHÔNG (TinhTrang = 'CoSan')
    IF EXISTS (
        SELECT 1 FROM inserted i INNER JOIN BanSao b ON i.MaBanSao = b.MaBanSao WHERE b.TinhTrang != N'CoSan'
    )
    BEGIN
        DECLARE @MaBanSaoLoi INT, @TinhTrang NVARCHAR(20);
        SELECT TOP 1 @MaBanSaoLoi = i.MaBanSao, @TinhTrang = b.TinhTrang
        FROM inserted i INNER JOIN BanSao b ON i.MaBanSao = b.MaBanSao WHERE b.TinhTrang != N'CoSan';
        
        DECLARE @ErrorMsg NVARCHAR(500);
        SET @ErrorMsg = N'Bản sao #' + CAST(@MaBanSaoLoi AS NVARCHAR(20)) + N' đang ở trạng thái: ' + @TinhTrang + N'. Không thể mượn!';
        RAISERROR(@ErrorMsg, 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 3. Kiểm tra bản sao đã có trong phiếu mượn này chưa
    IF EXISTS (
        SELECT 1 FROM inserted i WHERE EXISTS (SELECT 1 FROM ChiTietMuon ct WHERE ct.MaPhieuMuon = i.MaPhieuMuon AND ct.MaBanSao = i.MaBanSao)
    )
    BEGIN
        RAISERROR(N'Bản sao đã có trong phiếu mượn này!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 4. Kiểm tra trùng bản sao trong cùng một lần INSERT
    IF EXISTS (
        SELECT MaBanSao FROM inserted GROUP BY MaBanSao HAVING COUNT(*) > 1
    )
    BEGIN
        RAISERROR(N'Không thể mượn cùng một bản sao nhiều lần!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 5. Kiểm tra TỔNG SỐ SÁCH ĐANG MƯỢN của độc giả (Giới hạn: 5 cuốn)
    DECLARE @MaDocGia INT, @SoSachDangMuon INT, @SoSachMoi INT, @TongSach INT;
    SELECT TOP 1 @MaDocGia = pm.MaDocGia FROM inserted i INNER JOIN PhieuMuon pm ON i.MaPhieuMuon = pm.MaPhieuMuon;
    
    -- Đếm số sách đang mượn (tất cả phiếu)
    SELECT @SoSachDangMuon = COUNT(*) FROM PhieuMuon pm INNER JOIN ChiTietMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
    WHERE pm.MaDocGia = @MaDocGia AND pm.TrangThai IN (N'DangMuon', N'QuaHan') AND ct.NgayTraThucTe IS NULL;
    
    -- Đếm số sách muốn thêm
    SELECT @SoSachMoi = COUNT(*) FROM inserted;
    SET @TongSach = @SoSachDangMuon + @SoSachMoi;
    
    IF @TongSach > 5
    BEGIN
        DECLARE @MsgSoSach NVARCHAR(500);
        SET @MsgSoSach = N'Độc giả đang mượn ' + CAST(@SoSachDangMuon AS NVARCHAR(10)) + N' cuốn. Không thể mượn thêm ' + CAST(@SoSachMoi AS NVARCHAR(10)) + N' cuốn (giới hạn: 5 cuốn)!';
        RAISERROR(@MsgSoSach, 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 6. Kiểm tra số lượng sách trong phiếu mượn này (tối đa 5 cuốn/phiếu)
    DECLARE @SoSachTrongPhieu INT, @MaPhieuMuon INT;
    SELECT TOP 1 @MaPhieuMuon = MaPhieuMuon FROM inserted;
    
    SELECT @SoSachTrongPhieu = COUNT(*) FROM ChiTietMuon WHERE MaPhieuMuon = @MaPhieuMuon;
    
    IF (@SoSachTrongPhieu + @SoSachMoi) > 5
    BEGIN
        RAISERROR(N'Vượt quá số lượng sách tối đa (5 cuốn) trong một phiếu mượn!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- Nếu tất cả hợp lệ, thực hiện INSERT
    INSERT INTO ChiTietMuon (MaPhieuMuon, MaBanSao, TinhTrangTra, NgayTraThucTe)
    SELECT MaPhieuMuon, MaBanSao, TinhTrangTra, NgayTraThucTe
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_KiemTraBanSao]
GO

---

-- Kiểm tra ràng buộc khi cập nhật Chi Tiết Mượn (INSTEAD OF UPDATE).
CREATE TRIGGER [dbo].[trg_ChiTietMuon_KiemTraTinhTrangTra]
ON [dbo].[ChiTietMuon]
INSTEAD OF UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Không cho phép sửa TinhTrangTra nếu chưa có NgayTraThucTe
    IF UPDATE(TinhTrangTra)
    BEGIN
        IF EXISTS (
            SELECT 1 FROM inserted i WHERE i.TinhTrangTra IS NOT NULL AND i.NgayTraThucTe IS NULL
        )
        BEGIN
            RAISERROR(N'Phải có ngày trả thực tế trước khi đánh giá tình trạng!', 16, 1);
            ROLLBACK;
            RETURN;
        END;
    END;
    
    -- 2. Không cho phép sửa Khóa chính/Khóa ngoại (MaBanSao hoặc MaPhieuMuon)
    IF UPDATE(MaBanSao) OR UPDATE(MaPhieuMuon)
    BEGIN
        RAISERROR(N'Không thể thay đổi bản sao hoặc phiếu mượn!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 3. Thực hiện cập nhật hợp lệ (chỉ NgayTraThucTe và TinhTrangTra)
    UPDATE ChiTietMuon
    SET TinhTrangTra = i.TinhTrangTra,
        NgayTraThucTe = i.NgayTraThucTe
    FROM ChiTietMuon ct
    INNER JOIN inserted i ON ct.MaChiTietMuon = i.MaChiTietMuon;
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_KiemTraTinhTrangTra]
GO

---

-- Ngăn chặn xóa Chi Tiết Mượn đã trả sách (INSTEAD OF DELETE).
CREATE TRIGGER [dbo].[trg_ChiTietMuon_NgamXoa]
ON [dbo].[ChiTietMuon]
INSTEAD OF DELETE
AS
BEGIN
    -- 1. Kiểm tra xem có chi tiết mượn nào đã trả chưa
    IF EXISTS (
        SELECT 1 FROM deleted WHERE NgayTraThucTe IS NOT NULL
    )
    BEGIN
        RAISERROR(N'Không thể xóa chi tiết mượn đã trả sách!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 2. Cho phép xóa nếu chưa trả
    DELETE FROM ChiTietMuon
    WHERE MaChiTietMuon IN (SELECT MaChiTietMuon FROM deleted);
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_NgamXoa]
GO

---

-- Tự động tạo Phiếu Phạt khi trả sách quá hạn, hỏng hoặc mất (AFTER UPDATE NgayTraThucTe).
CREATE TRIGGER [dbo].[trg_ChiTietMuon_TaoPhat]
ON [dbo].[ChiTietMuon]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF UPDATE(NgayTraThucTe)
    BEGIN
        DECLARE @MaChiTietMuon INT, @MaPhieuMuon INT, @MaDocGia INT, @MaThuThu INT, @HanTra DATETIME, @NgayTraThucTe DATETIME, @TinhTrangTra NVARCHAR(20), @SoNgayTre INT, @TienPhat DECIMAL(10,2), @MaPhieuPhat INT, @MaDauSach INT, @GiaTriSach DECIMAL(10,2);
        
        -- Cursor chỉ lấy những chi tiết mượn đã trả (có NgayTraThucTe) và vi phạm (trễ, hỏng, mất)
        DECLARE cur CURSOR FOR
        SELECT i.MaChiTietMuon, i.MaPhieuMuon, pm.MaDocGia, pm.MaThuThu, pm.HanTra, i.NgayTraThucTe, i.TinhTrangTra, bs.MaDauSach
        FROM inserted i
        INNER JOIN PhieuMuon pm ON i.MaPhieuMuon = pm.MaPhieuMuon
        INNER JOIN BanSao bs ON i.MaBanSao = bs.MaBanSao
        WHERE i.NgayTraThucTe IS NOT NULL
        AND (
            i.NgayTraThucTe > pm.HanTra -- Quá hạn
            OR i.TinhTrangTra IN (N'Hong', N'Mat') -- Hỏng/Mất
        );
        
        OPEN cur;
        FETCH NEXT FROM cur INTO @MaChiTietMuon, @MaPhieuMuon, @MaDocGia, @MaThuThu, @HanTra, @NgayTraThucTe, @TinhTrangTra, @MaDauSach;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- 1. Lấy hoặc tạo phiếu phạt chưa thanh toán trong ngày
            SELECT @MaPhieuPhat = MaPhieuPhat FROM PhieuPhat WHERE MaDocGia = @MaDocGia AND TrangThai = N'ChuaThanhToan' AND CAST(NgayLap AS DATE) = CAST(GETDATE() AS DATE);
            
            IF @MaPhieuPhat IS NULL
            BEGIN
                INSERT INTO PhieuPhat (MaDocGia, MaThuThu, NgayLap, TrangThai) VALUES (@MaDocGia, @MaThuThu, GETDATE(), N'ChuaThanhToan');
                SET @MaPhieuPhat = SCOPE_IDENTITY();
            END;
            
            -- 2. Phạt trả trễ (5000đ/ngày)
            IF @NgayTraThucTe > @HanTra
            BEGIN
                SET @SoNgayTre = DATEDIFF(DAY, @HanTra, @NgayTraThucTe);
                SET @TienPhat = @SoNgayTre * 5000;
                INSERT INTO ChiTietPhat (MaPhieuPhat, MaChiTietMuon, LoaiPhat, SoTien) VALUES (@MaPhieuPhat, @MaChiTietMuon, N'TraTre', @TienPhat);
            END;
            
            -- 3. Phạt hỏng (50000)
            IF @TinhTrangTra = N'Hong'
            BEGIN
                SET @TienPhat = 50000;
                INSERT INTO ChiTietPhat (MaPhieuPhat, MaChiTietMuon, LoaiPhat, SoTien) VALUES (@MaPhieuPhat, @MaChiTietMuon, N'Hong', @TienPhat);
            END;
            
            -- 4. Phạt mất sách (100000)
            IF @TinhTrangTra = N'Mat'
            BEGIN
                SET @TienPhat = 100000;
                INSERT INTO ChiTietPhat (MaPhieuPhat, MaChiTietMuon, LoaiPhat, SoTien) VALUES (@MaPhieuPhat, @MaChiTietMuon, N'Mat', @TienPhat);
            END;
            
            FETCH NEXT FROM cur INTO @MaChiTietMuon, @MaPhieuMuon, @MaDocGia, @MaThuThu, @HanTra, @NgayTraThucTe, @TinhTrangTra, @MaDauSach;
        END;
        
        CLOSE cur;
        DEALLOCATE cur;
    END;
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_TaoPhat]
GO

---

-- Cập nhật trạng thái Bản sao sau khi trả sách dựa trên tình trạng trả (AFTER UPDATE NgayTraThucTe).
CREATE TRIGGER [dbo].[trg_ChiTietMuon_TraSach]
ON [dbo].[ChiTietMuon]
AFTER UPDATE
AS
BEGIN
    -- Chỉ chạy khi có cập nhật ngày trả thực tế
    IF UPDATE(NgayTraThucTe)
    BEGIN
        -- Cập nhật TinhTrang của Bản Sao (CoSan/Hong/Mat)
        UPDATE BanSao
        SET TinhTrang = CASE 
            WHEN i.TinhTrangTra = N'Tot' THEN N'CoSan'
            WHEN i.TinhTrangTra = N'Hong' THEN N'Hong'
            WHEN i.TinhTrangTra = N'Mat' THEN N'Mat'
        END
        FROM BanSao b
        INNER JOIN inserted i ON b.MaBanSao = i.MaBanSao
        WHERE i.NgayTraThucTe IS NOT NULL;
    END;
END;
GO
ALTER TABLE [dbo].[ChiTietMuon] ENABLE TRIGGER [trg_ChiTietMuon_TraSach]
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- II. TRIGGERS TRÊN BẢNG ĐẶT TRƯỚC (DatTruoc)
------------------------------------------------------------------------------------------------------------------------------------------------------------------

-- Tự động cập nhật trạng thái đặt trước thành 'HetHan' nếu đã quá ngày hết hạn.
CREATE TRIGGER [dbo].[trg_DatTruoc_KiemTraHetHan]
ON [dbo].[DatTruoc]
AFTER INSERT, UPDATE
AS
BEGIN
    UPDATE DatTruoc
    SET TrangThai = N'HetHan'
    WHERE MaDatTruoc IN (SELECT MaDatTruoc FROM inserted)
    AND NgayHetHan < GETDATE() -- Quá ngày hết hạn
    AND TrangThai = N'DangCho'; -- Chỉ áp dụng cho các phiếu đang chờ
END;
GO
ALTER TABLE [dbo].[DatTruoc] ENABLE TRIGGER [trg_DatTruoc_KiemTraHetHan]
GO

---

-- Kiểm tra độc giả không được đặt trùng một đầu sách đang chờ (INSTEAD OF INSERT).
CREATE TRIGGER [dbo].[trg_DatTruoc_KiemTraSoLuong]
ON [dbo].[DatTruoc]
INSTEAD OF INSERT
AS
BEGIN
    -- Kiểm tra độc giả đã đặt trước đầu sách này và đang ở trạng thái 'DangCho' chưa
    IF EXISTS (
        SELECT 1
        FROM DatTruoc dt
        INNER JOIN inserted i ON dt.MaDocGia = i.MaDocGia AND dt.MaDauSach = i.MaDauSach
        WHERE dt.TrangThai = N'DangCho'
    )
    BEGIN
        RAISERROR(N'Độc giả đã đặt trước đầu sách này rồi!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- Nếu hợp lệ, thực hiện insert
    INSERT INTO DatTruoc (MaDocGia, MaDauSach, NgayDat, NgayHetHan, TrangThai)
    SELECT MaDocGia, MaDauSach, NgayDat, NgayHetHan, TrangThai
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[DatTruoc] ENABLE TRIGGER [trg_DatTruoc_KiemTraSoLuong]
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- III. TRIGGERS TRÊN BẢNG PHIẾU MƯỢN (PhieuMuon)
------------------------------------------------------------------------------------------------------------------------------------------------------------------

-- Kiểm tra điều kiện mượn sách trước khi tạo Phiếu Mượn (INSTEAD OF INSERT).
CREATE TRIGGER [dbo].[trg_PhieuMuon_KiemTraDieuKien]
ON [dbo].[PhieuMuon]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaDocGia INT, @MaThe INT, @SoSachDangMuon INT, @SoPhieuQuaHan INT, @TrangThaiDocGia NVARCHAR(20);
    SELECT @MaDocGia = MaDocGia FROM inserted;
    
    -- 1. Kiểm tra Thẻ thư viện (HoatDong và còn hạn)
    SELECT @MaThe = MaThe FROM The WHERE MaDocGia = @MaDocGia AND TrangThai = N'HoatDong' AND NgayHetHan >= GETDATE();
    IF @MaThe IS NULL
    BEGIN
        RAISERROR(N'Thẻ thư viện không hợp lệ hoặc đã hết hạn!', 16, 1); ROLLBACK; RETURN;
    END;
    
    -- 2. Kiểm tra Trạng thái Độc giả (phải là 'HoatDong')
    SELECT @TrangThaiDocGia = TrangThai FROM DocGia WHERE MaDocGia = @MaDocGia;
    IF @TrangThaiDocGia != N'HoatDong'
    BEGIN
        RAISERROR(N'Tài khoản độc giả không ở trạng thái hoạt động!', 16, 1); ROLLBACK; RETURN;
    END;
    
    -- 3. Kiểm tra Số sách đang mượn (giới hạn 5 cuốn)
    SELECT @SoSachDangMuon = COUNT(*) FROM PhieuMuon pm INNER JOIN ChiTietMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
    WHERE pm.MaDocGia = @MaDocGia AND pm.TrangThai IN (N'DangMuon', N'QuaHan') AND ct.NgayTraThucTe IS NULL;
    IF @SoSachDangMuon >= 5
    BEGIN
        RAISERROR(N'Độc giả đã mượn đủ 5 cuốn sách. Không thể tạo phiếu mượn mới!', 16, 1); ROLLBACK; RETURN;
    END;
    
    -- 4. Kiểm tra Phiếu mượn quá hạn (không được mượn nếu có phiếu quá hạn)
    SELECT @SoPhieuQuaHan = COUNT(*) FROM PhieuMuon WHERE MaDocGia = @MaDocGia AND TrangThai = N'QuaHan';
    IF @SoPhieuQuaHan > 0
    BEGIN
        RAISERROR(N'Độc giả có phiếu mượn quá hạn. Vui lòng trả sách trước!', 16, 1); ROLLBACK; RETURN;
    END;
    
    -- 5. Kiểm tra Phiếu phạt chưa thanh toán
    IF EXISTS (SELECT 1 FROM PhieuPhat WHERE MaDocGia = @MaDocGia AND TrangThai = N'ChuaThanhToan')
    BEGIN
        RAISERROR(N'Độc giả còn phiếu phạt chưa thanh toán!', 16, 1); ROLLBACK; RETURN;
    END;
    
    -- 6. Kiểm tra Hạn trả hợp lệ (Sau ngày mượn và tối đa 30 ngày)
    DECLARE @NgayMuon DATETIME, @HanTra DATETIME;
    SELECT @NgayMuon = NgayMuon, @HanTra = HanTra FROM inserted;
    IF @HanTra <= @NgayMuon BEGIN RAISERROR(N'Hạn trả phải sau ngày mượn!', 16, 1); ROLLBACK; RETURN; END;
    IF DATEDIFF(DAY, @NgayMuon, @HanTra) > 30 BEGIN RAISERROR(N'Thời gian mượn tối đa là 30 ngày!', 16, 1); ROLLBACK; RETURN; END;
    
    -- Nếu hợp lệ, tạo phiếu mượn
    INSERT INTO PhieuMuon (MaDocGia, MaThuThu, NgayMuon, HanTra, TrangThai)
    SELECT MaDocGia, MaThuThu, NgayMuon, HanTra, TrangThai FROM inserted;
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_PhieuMuon_KiemTraDieuKien]
GO

---

-- Tự động cập nhật trạng thái Phiếu Mượn thành 'QuaHan' nếu quá hạn trả.
CREATE TRIGGER [dbo].[trg_PhieuMuon_KiemTraQuaHan]
ON [dbo].[PhieuMuon]
AFTER INSERT, UPDATE
AS
BEGIN
    UPDATE PhieuMuon
    SET TrangThai = N'QuaHan'
    WHERE MaPhieuMuon IN (SELECT MaPhieuMuon FROM inserted)
    AND HanTra < GETDATE() -- Đã quá hạn
    AND TrangThai = N'DangMuon'; -- Chỉ áp dụng cho các phiếu đang mượn
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_PhieuMuon_KiemTraQuaHan]
GO

---

-- Kiểm soát việc cập nhật Phiếu Mượn (INSTEAD OF UPDATE).
CREATE TRIGGER [dbo].[trg_PhieuMuon_NgamCapNhat]
ON [dbo].[PhieuMuon]
INSTEAD OF UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Không cho sửa Mã Độc giả/Ngày mượn đối với phiếu đã hoàn thành/hủy
    IF EXISTS (
        SELECT 1 FROM deleted d
        WHERE d.TrangThai IN (N'DaTra', N'BiHuy')
        AND EXISTS (
            SELECT 1 FROM inserted i WHERE i.MaPhieuMuon = d.MaPhieuMuon
            AND (i.MaDocGia != d.MaDocGia OR i.NgayMuon != d.NgayMuon)
        )
    )
    BEGIN
        RAISERROR(N'Không thể sửa thông tin phiếu mượn đã hoàn thành!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    -- 2. Cho phép cập nhật hợp lệ (Hạn Trả và Trạng Thái)
    UPDATE PhieuMuon
    SET HanTra = i.HanTra,
        TrangThai = i.TrangThai
    FROM PhieuMuon pm
    INNER JOIN inserted i ON pm.MaPhieuMuon = i.MaPhieuMuon;
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_PhieuMuon_NgamCapNhat]
GO

---

-- Ngăn chặn xóa vật lý, thay bằng đánh dấu 'BiHuy' (INSTEAD OF DELETE).
CREATE TRIGGER [dbo].[trg_PhieuMuon_NgamXoa]
ON [dbo].[PhieuMuon]
INSTEAD OF DELETE
AS
BEGIN
    -- Cập nhật trạng thái thành 'BiHuy'
    UPDATE PhieuMuon
    SET TrangThai = N'BiHuy'
    WHERE MaPhieuMuon IN (SELECT MaPhieuMuon FROM deleted);
    
    PRINT N'Phiếu mượn đã được đánh dấu hủy thay vì xóa.';
END;
GO
ALTER TABLE [dbo].[PhieuMuon] ENABLE TRIGGER [trg_PhieuMuon_NgamXoa]
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- IV. TRIGGERS TRÊN BẢNG THẺ THƯ VIỆN (The)
------------------------------------------------------------------------------------------------------------------------------------------------------------------

-- Đảm bảo mỗi độc giả chỉ có một thẻ đang hoạt động hoặc tạm khóa (INSTEAD OF INSERT).
CREATE TRIGGER [dbo].[trg_The_KiemTraDuyNhat]
ON [dbo].[The]
INSTEAD OF INSERT
AS
BEGIN
    -- Kiểm tra độc giả đã có thẻ 'HoatDong' hoặc 'TamKhoa' chưa
    IF EXISTS (
        SELECT 1
        FROM The t
        INNER JOIN inserted i ON t.MaDocGia = i.MaDocGia
        WHERE t.TrangThai IN (N'HoatDong', N'TamKhoa')
    )
    BEGIN
        RAISERROR(N'Độc giả đã có thẻ thư viện!', 16, 1);
        ROLLBACK;
        RETURN;
    END;
    
    INSERT INTO The (MaDocGia, NgayCap, NgayHetHan, TrangThai)
    SELECT MaDocGia, NgayCap, NgayHetHan, TrangThai
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[The] ENABLE TRIGGER [trg_The_KiemTraDuyNhat]
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- KHÔI PHỤC CƠ SỞ DỮ LIỆU
------------------------------------------------------------------------------------------------------------------------------------------------------------------

USE [master]
GO